html,
body {
    height: 100%
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(333.11deg, #004EA4 0%, #000000 75.73%, #000000 100%) !important
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto
}

.form-signin .checkbox {
    font-weight: 400
}

.form-signin .form-floating:focus-within {
    z-index: 2
}

.form-signin input[type=email] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.form-signin input[type=password] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}